.aurora-breadcrumb {
  padding: 15px 0;
  border-bottom: 1px solid var(--aurora-border);
  background-color: var(--aurora-surface);
  margin-bottom: 10px;

  h2 {
    margin: 0;
    font-size: 19px;
  }

  a:last-child {
    font-weight: 700;
  }

  span {
    margin: 0 8px;
  }
}